.answerResponse{
    padding-top: 50px;
}

.btn{
    background-color: purple;
}    

.answerButtons{
    justify-content: left;
    display: none;
}

.card{
    text-align: center;
    border: none;
    padding: none;
}

.card-footer{
    background-color: white;
    border: none;
}

#clearscores{
    justify-content: left;
}

.container{
    margin-top: 150px;
    width: 590px;
}

.correct{
    display: none;
    border-top: 2px gray;
}

form{
    display: flex;
    text-align: left;
}

#goback{
    align-content: left;
    margin-right: 15px;
}

h1{
    font-size: 28px;
    text-align: center;
}

.highscore,.timer{    
    display: inline;
}

.highscore{
    font-size: 27px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.highscores{
    text-align: center;
    background-color: purple;
    color: white;
}

.highscorebuttons{
    display: none;
    justify-content: left;
}

li{
    text-align: left;
}

.timer{
    font-weight: bolder;
    color: red;
    font-size: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: right;
}

ul{
    list-style-type: none;
}

.wrong{
    display: none;
}